
.DS_Store
.vscode/

*.py[cod]
*/__pycache__/
*.ipynb_checkpoints/
*.egg-info/

*/package-lock.json
**/node_modules/

*/static/
js/dist/

build/
dist/

*/*.tgz
package/

*.old*
*test.*
js/temp.*

*/yarn.lock

docs/notebooks/code-snippets/
docs/notebooks/example-vue-components/
docs/notebooks/dump

article/

wip/
public-test/
