
.DS_Store
.vscode/

*.py[cod]
*/__pycache__/
*.ipynb_checkpoints/
*.egg-info/

**/node_modules

*/static/
ipyaggrid/nbextension/
ipyaggrid/labextension/
js/dist/

build/
dist/

*/*.tgz
package/

*.old*
js/temp.*

*/yarn.lock

docs/notebooks/code-snippets/
docs/notebooks/example-vue-components/
docs/notebooks/dump

article/

wip/
public-test/
data/
test-zone/
