
# js
recursive-include ipyaggrid/nbextension *.*
recursive-include ipyaggrid/labextension *.*
recursive-include ipyaggrid/js *.js

# Misc
include requirements.txt
include LICENSE
global-exclude *.py[co]
