name: Build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install dependencies
        run: pip install wheel jupyterlab
      - name: Change version
        run: python .github/ci_version.py
      - name: build js
        run: (cd js && npm install && npm run build:labextension)
      - name: Package
        run: python setup.py sdist bdist_wheel --universal
      - name: Test Package
        run: pip install dist/*.whl && python -c "import ipyaggrid"
      - name: Publish a Python distribution to S3
        continue-on-error: true
        uses: prewk/s3-cp-action@v2
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          source: "./dist/"
          dest: "s3://widgetti.pub/ipyaggrid/"
          flags: --recursive
